.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainTitle {
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #383aaa;
  margin: 0;
  padding: 0 20px;
  opacity: .4;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 56px;
    line-height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .mainTitle {
    font-size: 32px;
    line-height: 36px;
  }
}
