.verbs {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #00000085;
  border-radius: 10px;
}

.verbs__title {
  text-align: center;
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: var(--text-color-white);
}

.verbs__button_left {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 25px;
  top: 50%;
  opacity: 0.5;
  transition: opacity .5s;
}

.verbs__button_left:hover {
  opacity: 1;
}

.verbs__button_right {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 25px;
  top: 50%;
  opacity: 0.5;
  transition: opacity .5s;
}

.verbs__button_right:hover {
  opacity: 1;
}

.verbs__arrow {
  width: 100%;
  height: 100%;
}

.verbs__list {
  list-style-type: none;
  padding: 10px 10px;
  margin: 0;
}

.verbs__list-item {
  display: inline-block;
  font-family: 'Lora', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: var(--text-color-white);
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  width: 20%;
  border: 1px solid var(--text-color-white);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.verbs__list-item_translation {
  width: 40%;
}

@media screen and (max-width: 1280px) {
  .verbs__list-item {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1080px) {
  .verbs__list-item {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 780px) {
  .verbs__list-item {
    font-size: 14px;
    line-height: 16px;
  }
}