.category {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.categor__button {
  position: relative;
  padding: 10px 5px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #3f1174;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #3b0a0a;
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #3f1174;
}

.categor__button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

@media screen and (max-width: 768px) {
  .categor__button {
    padding: 10px 5px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 15px;
  }
}
