.editorCollection {
  margin: 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}


.editorCollection__main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

}


.editorCollection__title-contanier {
  margin: 0 0 10px 0;
  padding: 0;
}

.editorCollection__title {
  font-family: 'Lobster', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f1174;
  text-align: center;
  color: #3f1174
}

.editorCollection__title:hover {
  border-bottom: 2px solid #4285F4;
}


.editorCollection__title:focus {
  border: none;
  border-bottom: 2px solid #4285F4;
}

.editorCollection__title::placeholder {
  opacity: .3;
}

.editorCollection__item-input::placeholder {
  opacity: .3;
}

.editorCollection__item-contanier {
  margin: 5px 0 5px 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 20px;
}

.editorCollection__item {
  margin: 5px 0 10px 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
}

.editorCollection__item-input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f1174;
  font-family: 'Lobster', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #3f1174
}

.editorCollection__item-input:hover {
  border-bottom: 2px solid #4285F4;
}


.editorCollection__item-input:focus {
  border: none;
  border-bottom: 2px solid #4285F4;
}

.editorCollection__button {
  position: relative;
  margin: 20px;
  padding: 0;
  width: 40%;
  align-self: center;
  background-color: inherit;
  border: 2px solid #3f1174;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #3b0a0a;
  color: #3f1174;
  flex-shrink: 0;
}

.editorCollection__button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.editorCollection__eddButton-img {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin: 2px;
  padding: 0;
}

.editorCollection__eddButton {
  position: relative;
  background-color: inherit;
  border: 2px solid #3f1174;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #3b0a0a;
  margin: 5px auto;
}

.editorCollection__eddButton:active {
  top: .05em;
  left: .05em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}


.editorCollection__itemButtonRemove {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 15px;
  width: 20px;
  height: 20px;
}

.editorCollection__itemButtonRemoveImg {
  width: 15px;
  height: 10px;
  border-radius: 10px;
  transition: .2s;
}

.editorCollection__itemButtonRemove_visibility {
  visibility: hidden;
}



@media screen and (max-width: 768px) {

  .editorCollection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .editorCollection__item-contanier {
    left: 0px;
  }

  .editorCollection__itemButtonRemove {
    margin: 0;
  }

  .editorCollection__item-span {
    display: none
  }

  .editorCollection__item-input {
    margin: 0 0 10px 0;
    text-align: center;
  }

}



@media screen and (max-width: 420px) {

  .editorCollection__button {
    margin: 15px;
    width: 50%;
    font-size: 14px;
    line-height: 16px;
  }

}