.authform {
  margin: 0 auto;
  padding: 0;
  max-width: 396px;
  background-color: rgba(153, 163, 17, 0.274);
  border-radius: 10%;
  padding: 10px;
}


.authform__button-contanier {
  padding: 0;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authform__button-error {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lobster', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #EE3465;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.authform__button {
  padding: 0;
  margin: 0;
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: var(--text-color-red);
  align-items: center;
  border: none;
  cursor: pointer;
  transition: .5s;
  background-color: inherit;
}

.authform__button:hover {
  font-size: 22px;
  line-height: 25px;
}

.authform__button_disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: auto;
}

.authform__button_disabled:hover {
  font-size: 25px;
  line-height: 27px;
}

.authform__field {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.authform__field:last-of-type {
  margin: 0 0 83px 0;
}

.authform__field-item {
  padding: 7px 0 7px 0;
  border: none;
  outline: none;
  font-family: var(--text-font);
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid var(--text-color-red);
  background-color: inherit;
  color: #ffffff;
}

.authform__field-item:hover {
  border-bottom: 1px solid var(--text-color-blue);
}

.authform__field-item:focus {
  border-bottom: 1px solid var(--text-color-blue);
}

.authform__title {
  margin: 0;
  padding: 30px 0 40px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color-red);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.authform__field-item-error {
  margin: 6px 0 0 0;
  padding: 0;
  font-family: var(--text-font);
  font-style: Bold;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.authform__field-signature {
  margin: 0 0 5px 0;
  padding: 0;
  font-family: var(--text-font);
  font-style: Bold;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  color: var(--text-color-red);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}



@media screen and (max-width: 768px) {
  .authform {
    max-width: 260px;
  }

  .authform__title {
    padding: 0 0 80px 0;
    font-size: 20px;
    line-height: 22px;
  }

  .authform__button {
    font-size: 12px;
    line-height: 15px;
  }

  .authform__field-item {
    font-size: 14px;
    line-height: 17px;
  }
.authform__field:last-of-type {
  margin: 0 0 40px 0;
}

}



@media screen and (max-width: 420px) {
  .authform {
    max-width: 260px;
  }

  .authform__title {
    padding: 0 0 60px 0;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }

  .authform__field:last-of-type {
    margin: 0 0 25px 0;
  }
  



}