@import url(./vendor/normalize.css);
@import url(./vendor/fonts/tucsonone.css);
@import url(./vendor/fonts/lobster.css);
@import url(./vendor/fonts/Lora/lora.css);
@import url(./vendor/fonts/Cormorant_Garamond/cormorant.css);


html {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
body {
  background-image: url(../src/images/london.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0, auto;
  padding: 0;
  font-family: 'Tucsonone', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  --text-font: 'Cormоrant', Arial, sans-serif;
  --text-font-one: 'Lobster', Arial, sans-serif;
  --text-color-white: #ffffff;
  --text-color-red: #ff0c0c;
  --text-color-violet: #3f1174;
  --text-color-blue: #4285F4;
}

.root {
  height: 100%;
  display: flex;
  
  flex-direction: column;
  position: relative;
  --text-font: 'Cormоrant', Arial, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #2323230a;
}