.header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 0 0;
}

.header__title {
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #3b0a0a;
  margin: 0;
  padding: 0 20px 30px 20px;
  opacity: .4;
  cursor: pointer;
}

.header__сontanier {
  width: 100%;
  padding: 30px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.header__title-link {
  text-decoration: none;
}

.header__button {
  width: 20%;
  text-align: center;
  border: none;
  padding: 5px;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  color: var( --text-color-violet);
  font-family: 'Tucsonone', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  transition: .05s;
  text-decoration: none;
}

.header__button:hover {
  color: var( --text-color-red);
}

.header__button:active{
  font-size: 18px;
  line-height: 20px;
}

.header__profile-name {
  padding: 0;
  margin: 20px 0;
  color: #3f1174;
  font-family: 'Lobster', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}


@media screen and (max-width: 768px) {
  .header__title  {
    font-size: 56px;
    line-height: 60px;
  }

  .header__button {
    font-size: 18px;
    line-height: 20px;
  }

  .header {
    padding: 35px 0 0 0;
  }

}

@media screen and (max-width: 420px) {
  .header__title  {
    font-size: 35px;
    line-height: 37px;
  } 

  .header__button {
    font-size: 14px;
    line-height: 16px;
  }
  
  .header__сontanier {
    padding: 10px 0;
  }

}